/* ############################ reste a faire  ################################ */
/* 
-> les hovers
-> responsive behind 1440px laptop
-> responsive 1920*1080 = OK
 */

/* ----------------------------------------- Préparation font, double class etc */
body {
  color: #fff;
  text-align: left;
  background-color: #1a1a1a;
}
h1 {
  margin-top: 2rem;
  font-size: 3.5rem;
}
h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.3rem;
}
h6 {
  font-size: small;
  font-style: italic;
  text-align: end;
  width: 100%;
}
.p {
  font-size: small;
  font-weight: bold;
  margin: 2rem 0rem 2rem 0rem;
}
span {
  color: #bfa165;
}
.btn {
  font-weight: bold;
  color: #fff;
  text-decoration-line: underline;
  text-decoration-color: #bfa165;
  font-size: small;
  text-underline-offset: 0.4rem;
}

/* position border décoration */
.border-color {
  position: absolute;
  z-index: -1;
  height: 28rem;
  width: 24.5rem;
  border-top: 8px solid #bfa165;
  border-bottom: 8px solid #bfa165;
  border-left: 8px solid #bfa165;
  left: -4rem;
  top: -2.5rem;
}
/* -------------------------------------------- header / navbar */
header {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.842)
    ),
    url(../src/img/mountains-gfe32db6f1_1920.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burger-icon {
  padding: 2rem 4rem 0 0;
  width: 6.5rem;
  height: 6.5rem;
  fill: #fff;
  align-self: flex-end;
}
/* ---------------------------------------------- Section description */
header .desc {
  position: relative;
  z-index: 0;
  height: 32%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8rem;
}

/* Texte et bouton */
h5 {
  font-size: 1rem;
  background-color: #bfa1658f;
  display: inline-block;
  padding: 0.2rem 1.25rem 0.2rem 1.25rem;
  margin: 0rem 3rem 3rem 0rem;
}
.p-desc {
  width: 65%;
  font-size: medium;
}
.btn-primary {
  font-weight: bold;
  color: #fff;
  text-decoration-line: underline;
  text-decoration-color: #fff;
  font-size: medium;
  text-underline-offset: 0.5rem;
}
/* -------------------------------------------- section article-1 */
/* postition section */
.article-1 {
  background: linear-gradient(#1a1a1a, #000);
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0rem 2rem 0rem;
}
/* position img et text */
.article-1 img {
  height: 90%;
  width: 25%;
  object-fit: cover;
}
.article-1 .text {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* position border-color-2 */
.article-1 .border-2 {
  position: absolute;
  border-top: 8px solid #bfa165;
  border-bottom: 8px solid #bfa165;
  border-left: none;
  border-right: 8px solid #bfa165;
  z-index: +1;
  height: 27rem;
  width: 15rem;
  top: 4rem;
  right: -2rem;
}
/* --------------------------------------------- section article-2 */
/* background et taille de section */
.article-2 {
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.37)),
    url(../src/img/landscape-g7257646b2_1920.jpg);
  background-position: cover;
  background-position-y: bottom;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* taille des textes et font-size */
.article-2 .text {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 40%;
  margin-left: 9rem;
}
.article-2 .italic {
  display: flex;
  margin-right: 4rem;
  margin-bottom: 2rem;
  width: 25%;
  align-self: flex-end;
}
.article-2 h2 {
  margin-bottom: 1.3rem;
  width: 90%;
}
/* position border-color-3 */
.article-2 .text .box {
  position: relative;
}
.article-2 .border-3 {
  position: absolute;
  border-bottom: 8px solid #bfa165;
  border-left: 8px solid #bfa165;
  z-index: +1;
  height: 7rem;
  width: 7rem;
  bottom: 0rem;
  left: -1.5rem;
}
/* ------------------------------------------------------------ section numbers */
/* boite */
.numbers {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-numbers {
  display: flex;
  margin-top: 3rem;
}
.content-1 {
  height: 15rem;
  width: 15rem;
  display: flex;
  margin: 1rem;
  padding: 2rem;
  border: 1px solid #bfa16531;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* contenu des boites */
.h2-color {
  color: #bfa165;
  font-size: 3rem;
}
h3 {
  font-size: 4rem;
  color: #bfa165;
  margin: 0;
  padding: 0;
}
.p-bold {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0%;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
/* ------------------------------------------------ section article-3 */
/* positionnement des boites */
.article-3 {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-3 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 80%;
  padding-right: 4rem;
}
.article-3 h6 {
  position: absolute;
  margin-top: 0.25rem;
  bottom: 3.3rem;
}
.article-3 .img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 23%;
  height: 100%;
}
/* gestions des images */
.article-3 .img img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.article-3 .img #bg-img {
  z-index: -1;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}
/* gestion du border-color */
.article-3 .text .box {
  position: relative;
  margin-bottom: 2rem;
}
.article-3 .text .box .border-4 {
  border-top: 8px solid #bfa165;
  border-left: 8px solid #bfa165;
  position: absolute;
  z-index: -1;
  width: 10rem;
  height: 10rem;
  top: -4rem;
  left: -4rem;
}

.article-3 .img .border-5 {
  border-right: 8px solid #bfa165;
  border-bottom: 8px solid #bfa165;
  position: absolute;
  height: 10rem;
  width: 10rem;
  bottom: -1rem;
  right: -7rem;
}

/* --------------------------------------------------- form */
/* taille et bg */
.form {
  background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.603)),
    url(../src/img/castelmezzano-gfd4f2a8f9_1920.jpg);
  margin-top: 5rem;
  background-position: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form form {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  margin: 1.5rem 0rem 1.5rem 0rem;
}
/* gestion des inputs */
#name,
#email,
#message {
  background: none;
  width: 100%;
  margin: 0.5rem 0rem 0.5rem 0;
  padding: 0.8rem;
  color: #fff;
  border-radius: 5px;
}
#name:focus-visible,
#email:focus-visible,
#message:focus-visible {
  outline: 2px solid #bfa165;
}
#message {
  max-height: 15rem;
  padding-bottom: 4rem;
  resize: vertical;
}
.form-name,
.form-email,
.form-message {
  width: 100%;
}
.btn-tertiary {
  background-color: #bfa165;
  border: none;
  margin: 1rem;
  padding: 0.6rem 1.7rem 0.6rem 1.7rem;
}
.form .box {
  position: relative;
}
.form .box .border-6 {
  position: absolute;
  border-top: 8px solid #bfa165;
  border-left: 8px solid #bfa165;
  height: 8rem;
  width: 8rem;
  top: -4rem;
  left: -15rem;
}
.form .btn-group {
  position: relative;
}
.form .btn-group .border-7 {
  position: absolute;
  border-bottom: 8px solid #bfa165;
  border-right: 8px solid #bfa165;
  height: 8rem;
  width: 8rem;
  bottom: -2rem;
  right: -27rem;
}
/* --------------------------------------------------------------- footer */

.container-footer {
  margin: 1.5rem 5rem 0rem 5rem;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content-2 {
  width: 20%;
  display: flex;
  border-top: 1px solid #464646;
}

/* _________________________________________________________________ media screen */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .burger-icon {
    width: 5.5rem;
    height: 5.5rem;
    margin-right: -1.9rem;
    margin-top: 0rem;
  }
  header .desc {
    width: 100%;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  .p {
    font-size: small;
    width: 100%;
  }
  .btn {
    font-size: smaller;
  }
  .p-desc {
    width: 100%;
  }
  .desc h5 {
    width: 80%;
    font-size: small;
  }
  .desc .border-color {
    height: 21rem;
    width: 10rem;
    left: -2rem;
    top: -6rem;
  }

  .article-1 .text .border-2 {
    height: 23rem;
    left: -1rem;
    top: 1.2rem;
  }
  .article-1 {
    height: 100vh !important;
  }
  .article-2 {
    height: 100vh !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  h5 {
    margin: 0%;
    width: 62%;
  }
  header {
    height: 80vh;
  }
  header .desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70%;
    margin-bottom: 6rem;
  }
  .border-color {
    height: 24rem;
    width: 16rem;
    left: -3rem;
    top: -7.5rem;
  }

  .article-1 {
    background: #1a1a1a;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
  }
  .article-1 img {
    height: 80%;
    width: 100%;
    object-fit: cover;
  }
  .article-1 .text {
    width: 80%;
    height: 80%;
  }
  .article-1 .border-2 {
    border-left: 8px solid #bfa165;
    border-right: none;
    height: 20rem;
    width: 15rem;
    top: 4.2rem;
    left: -2rem;
  }
  .article-2 {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .article-2 .text {
    width: 80%;
    margin: 0%;
  }
  .article-2 .italic {
    width: 50%;
  }
  .article-3 {
    height: 80vh;
    display: flex;
    flex-direction: column;
  }
  .article-3 .text {
    width: 80%;
    padding: 0%;
  }
  .article-3 .img {
    width: 80%;
  }
  .article-3 .img #bg-img {
    z-index: -1;
    position: absolute;
    bottom: 2.2rem;
    left: 2rem;
  }
  .article-3 h6 {
    margin-top: 0.25rem;
    bottom: 2.2rem;
  }
  .article-3 .p {
    margin-top: 0%;
  }
  .article-3 .text .box .border-4 {
    width: 5rem;
    height: 5rem;
    top: -2rem;
    left: -2rem;
  }

  .article-3 .img .border-5 {
    height: 5rem;
    width: 5rem;
    bottom: 0rem;
    right: -4rem;
  }

  .form .box .border-6 {
    height: 5rem;
    width: 5rem;
    top: -3rem;
    left: -3rem;
  }
  .form .btn-group .border-7 {
    height: 5rem;
    width: 5rem;
    bottom: -1rem;
    right: -13rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .p {
    margin: 1rem 0rem 1rem 0rem;
  }
  .article-1 .border-2 {
    height: 30rem;
    top: 3rem;
    width: 12rem;
  }

  .article-2 .box {
    margin: 0rem;
  }

  .article-3 .text .box {
    margin-bottom: 0%;
  }
  .form .box .border-6 {
    top: -3rem;
    left: -10rem;
  }
  .form .btn-group .border-7 {
    bottom: -2rem;
    right: -20rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  /* Pas besoin pour le moment */
}
/* up */
@media screen and ((min-width: 1530px) and (max-width: 1919px)) {
  .border-color {
    height: 25rem;
  }
  .article-1 .border-2 {
    top: 3rem;
  }
  .article-3 .text .box .border-4 {
    width: 10rem;
    height: 10rem;
    top: -4rem;
    left: -4rem;
  }

  .article-3 h6 {
    bottom: 3.5rem;
  }

  .article-1,
  .article-2,
  .numbers,
  .article-3 {
    height: 80vh;
  }
  .form {
    height: 90vh;
  }
}
@media screen and ((min-width: 1px) and (max-width: 992px)) {
  .numbers {
    height: 90vh;
  }
  .container-numbers {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
}
